// GLOBAL STYLES

@import "reset";
@import "variables";
@import "global/theme";
@import "global/fonts";

// BEM BLOCKS

@import "blocks/page-header";
@import "blocks/page-menu";
@import "blocks/page-content";
@import "blocks/page-separator";
@import "blocks/index-header";
@import "blocks/page-category";
@import "blocks/category-list";
@import "blocks/week-product";
@import "blocks/about-us";
@import "blocks/reviews";
@import "blocks/contacts";
@import "blocks/page-footer";
@import "blocks/inner-header";
@import "blocks/inner-list";
@import "blocks/order-form";
