/* Variables css */

$color-main: #62d1ba;
$color-dark: #000;
$color-darkgray: #444;
$color-lightgray: #ccc;
$color-extralight: #ececec;

$link-hover-color: transparentize($color-main, 0.4);
$link-hover-down: transparentize($color-main, 0.7);

$font-base-size: 16px;

$tablet-width: 768px;
$desktop-width: 1200px;
