/* Fonts  */

@font-face {
  font-family: "OpenSans";
    src:
      url("../fonts/opensans.woff2/css?family=Open+Sans:100,400,700") format("woff2"),
      url("../fonts/opensans.woff/css?family=Open+Sans:100,400,700") format("woff")
}

//@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

body {
  font-family: 'OpenSans', Arial, sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1 {
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
}

h2 {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
}

h3 {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
}


p {

}
