/* Fonts  */

@font-face {
  font-family: "OpenSansNormal";
    src:
      url("../fonts/opensans.woff2") format("woff2"),
      url("../fonts/opensans.woff") format("woff")
}

@font-face {
  font-family: "OpenSansBold";
    src:
      url("../fonts/opensansbold.woff2") format("woff2"),
      url("../fonts/opensansbold.woff") format("woff")
}

body {
  font-family: 'OpenSansRegular', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'OpenSansBold', Arial, sans-serif;
}

h1 {
  font-size: 27px;
  line-height: 30px;
}

h2 {
  font-size: 25px;
  line-height: 30px;
}

h3 {
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
}

p {

}
