/* Block — About us */

.about-us {
  display: flex;
  justify-content: center;
}

.about-us__wrapper {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 0;
  padding-left: 30px;
  padding-right: 30px;
}

.about-us__item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
}

.about-us__title {
  padding-bottom: 35px;
}

.about-us__item p {
  font-family: $font-bold;
  font-size: 17px;
  line-height: 20px;
}

@media screen and (min-width: $tablet-width) {
  .about-us__wrapper {
    width: 668px;
    padding: 120px 50px;
  }
}

@media screen and (min-width: $desktop-width) {
  .about-us__wrapper {
    width: 1050px;
    padding: 120px 50px;
    justify-content: space-between;
  }
}
