/* Block — About us */

.about-us {
  display: flex;
  justify-content: center;
}

.about-us__wrapper {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 0;
  padding-left: 30px;
  padding-right: 30px;
}

.about-us__item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
}

.about-us__title {
  padding-bottom: 25px;
}

.about-us__item p {
  font-family: $font-bold;
  font-size: 17px;
  line-height: 20px;
}

.about-us__item-icon {
  padding-bottom: 15px;
}

.about-us__item {
  padding-bottom: 25px;
}

@media screen and (min-width: $tablet-width) {
  .about-us__wrapper {
    width: 668px;
    padding-top: 60px;
  }
  .about-us__title {
    font-size: 43px;
    padding-bottom: 50px;
  }
  .about-us__item p {
    font-size: 20px;
    line-height: 22px;
  }
  .about-us__list {
    display: flex;
    flex-wrap: wrap;
  }
  .about-us__item {
    width: 240px;
    margin-right: 80px;
    padding-bottom: 45px;
//    display: block;
  }
}

@media screen and (min-width: $desktop-width) {
  .about-us__wrapper {
    width: 1050px;
    padding-top: 70px;
//    padding-left: 175px;
  }
  .about-us__title {
    font-size: 53px;
    margin-left: 175px;
  }
  .about-us__item {
    margin-right: 120px;
    padding-right: 10px;
  }
  .about-us__list {
    margin-left: 175px;
  }
}





