/* Block — Index header */

.index-header {
  height: 490px;
  background-image: url('../img/hero-mobile@1x.jpg');
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-color: #f9f9f9;
  display: flex;
}

.index-header__wrapper {
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.index-header__title {
  padding-top: 70px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  font-size: 27px;
  line-height: 30px;
}

.index-header__category {
  margin-top: auto;
  flex-direction: row;
}
.index-header__category-item {
  background-color: #63d1bb;
  color: #fff;
  padding-left: 30px;
  padding-right: 30px;
  font-family: $font-bold;
  font-size: 19px;
  line-height: 24px;
  display: flex;
  align-items: center;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.index-header__category-item:last-child {
  background-color: #56c3b2;
}

.index-header__category-item img {
  opacity: 0.2;
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .index-header {
    background-image: url('../img/hero-mobile@2x.jpg');
  }
}

@media screen and (min-width: $tablet-width) {
  .index-header {
    height: 745px;
    background-image: url('../img/hero-desktop@1x.jpg');
    background-position: 50% 50%;
    background-size: cover;
    position: relative;
  }
  .index-header:after {
    position: absolute;
    content: '';
    background-image: url('../img/header-wave.png');
    background-position: bottom;
    background-size: 40px 10px;
    height: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
  .index-header__wrapper {
    width: 668px;
    margin: 0 auto;
  }
  .index-header__title {
    font-size: 43px;
    width: 600px;
    line-height: 50px;
    text-align: center;
    margin: 0 auto;
    padding-top: 155px;
  }
  .index-header__category {
    display: flex;
    height: 105px;
  }
  .index-header__category-item {
    width: 100%;
    align-self: flex-end;
  }
  .index-header__category-item:hover {
   height: 105px;
  }
  .index-header__category-item:active {
   color: #8dd5c9;
  }
}

@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .index-header {
    background-image: url('../img/hero-desktop@2x.jpg');
  }
}

@media screen and (min-width: $desktop-width) {
  .index-header {
        background-image: url('../img/hero-desktop@1x.jpg');
    background-position: 50% 50%;
    background-size: cover;
    position: relative;
  }
  .index-header:after {
    background-size: 50px 15px;
    height: 15px;
  }
  .index-header__wrapper {
    width: 1050px;
    margin:  0 auto;
  }
  .index-header__title {
    font-size: 53px;
    width: 700px;
    line-height: 57px;
    text-align: center;
    margin: 0 auto;
    padding-top: 155px;
  }
}

@media (min-width: 1150px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1150px) and (min-resolution: 144dpi), (min-width: 1150px) and (min-resolution: 1.5dppx) {
  .index-header {
    background-image: url('../img/hero-desktop@2x.jpg');
  }
}
