/* Block — Inner header */

.inner-header {
  display: flex;
  background-color: #f1f1f1;
  height: 180px;
  position: relative;
}

.inner-header:after {
  content: '';
  height: 14px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.inner-header__wrapper {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0 30px;
  text-align: center;
}


@media screen and (min-width: $tablet-width) {
  .inner-header {
    height: 225px;
  }
  .inner-header:after {
    background-image: url('../img/inner-wave.png');
    background-repeat: repeat-x;
    background-size: 40px;
    height: 9px;
  }
  .inner-header__wrapper {
    width: 668px;
    justify-content: center;
  }
  .inner-header__title {
    font-size: 43px;
    line-height: 50px;
  }
}

@media screen and (min-width: $desktop-width) {
  .inner-header {
    height: 250px;
  }
  .inner-header:after {
    background-image: url('../img/inner-wave.png');
    background-repeat: repeat-x;
  }
  .inner-header__wrapper {
    width: 1050px;
  }
  .inner-header__title {
    font-size: 53px;
    line-height: 57px;
  }
}
