/* Block — Inner list */

.inner-list {
  display: flex;
  justify-content: center;
}

.inner-list__wrapper {
  width: 100%;
  padding: 120px 30px;
}

.inner-list__card-icon {
  display: block;
  width: 20px;
  height: 19px;
  background-image: url('../img/icon-cart.svg')
}

.inner-list__video-header {
//  width: 60px;
//  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-list__video-header img {
  margin-right: 20px;
}

@media screen and (min-width: $tablet-width) {
  .inner-list__wrapper {
    width: 668px;
    padding: 120px 50px;
  }
}

@media screen and (min-width: $desktop-width) {
  .inner-list__wrapper {
    width: 1050px;
    padding: 120px 50px;
    justify-content: space-between;
  }
}
