/* Block — Page header */

.page-header {
  padding: 0 30px;
  background-color: #fff;
  height: 80px;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.page-header__wrapper {
  width: 100%;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-header__logo {
  margin-top: 20px;
}

@media screen and (min-width: $tablet-width) {
  .page-header__wrapper {
    width: 668px;
    padding: 0 50px;
  }
  .page-header__logo {
    margin-top: 0;
  }
}

@media screen and (min-width: $desktop-width) {
  .page-header {
    height: 88px;
  }
  .page-header__wrapper {
    width: 1050px;
    padding: 0 50px;
    justify-content: space-between;
  }
  .page-header__logo {
    margin-top: 0;
  }
  .page-menu {
    order: -1;
  }
  .page-menu li {
    display: inline-block;
  }
}
