/* Block — Reviews */

.reviews {
  justify-content: center;
}

.reviews__wrapper {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 0;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
}

.reviews__title {
  font-size: 25px;
  padding-bottom: 30px;
}

.reviews__item-text {
  font-family: $font-regular;
  font-size: 15px;
  line-height: 30px;
  color: #444;
  padding-bottom: 40px;
}

.reviews__item-author {
  font-size: 18px;
  margin-bottom: 20px;
  text-transform: none;
}

.reviews__item-login {
  font-size: 17px;
  color: #444;
  padding-bottom: 35px;
}

.reviews__arrows {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.reviews__left-arrow,
.reviews__right-arrow {
  display: flex;
  justify-content: center;
  color: #000;
  font-size: 40px;
  font-weight: bold;
  border: 1px solid #ececec;
  flex-grow: 1;
  height: 50px;
  background-size: 50px 26px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.reviews__left-arrow {
  border-right: none;
  background-image: url("../img/icon-left-arrow.svg");
}

.reviews__right-arrow {
  background-image: url("../img/icon-right-arrow.svg");
}

.reviews__left-arrow:hover,
.reviews__right-arrow:hover {
  color: #666666;
  opacity: 0.6;
  cursor: pointer;
}

.reviews__left-arrow:active,
.reviews__right-arrow:active {
  color: #b2b2b2;
  opacity: 0.3;
}

.reviews__btn {
  margin-bottom: 40px;
}

/* Slider */

.reviews__list--slider {
  position: relative;
  width: 100%;
  height: 360px;
  overflow: hidden;
}
.reviews__list--slider .reviews__item--slide {
  position: absolute;
  visibility: hidden;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.reviews__list--slider input {
  display: none;
}
.reviews__list--slider input:checked + .reviews__item--slide {
  visibility: visible;
  opacity: 1;
}


@media screen and (min-width: $tablet-width) {
  .reviews {
    display: flex;
    background-image: url("../img/review@1x.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    margin-bottom: 70px;
  }
  .reviews__wrapper {
    width: 668px;
    padding-top: 90px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
  }
  .reviews__title {
    font-size: 43px;
    padding-bottom: 60px;
    order: -1;
  }
  .reviews__item-text {
    font-size: 17px;
  }
  .reviews__item-author {
    margin-bottom: 10px;
  }
  .reviews__btn {
    order: -1;
    width: 175px;
    margin-top: -10px;
    margin-left: auto;
  }
  .reviews-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .reviews__arrows {
    margin-left: auto;
    margin-top: -110px;
    z-index: 10;
  }
  .reviews__left-arrow,
  .reviews__right-arrow {
    border: none;
    width: 83px;
  }
  .reviews__list--slider {
    height: 270px;
  }
}

@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .reviews {
    background: url("../img/review@2x.jpg") no-repeat;
    background-size: 350px auto;
  }
}

@media screen and (min-width: $desktop-width) {
  .reviews {
    margin-bottom: 60px;
  }
  .reviews__wrapper {
    width: 1050px;
    justify-content: space-between;
  }
  .reviews__title {
    font-size: 53px;
  }
  .reviews__title,
  .reviews__item-text,
  .reviews-footer,
  .review-info {
    padding-left: 175px;
  }
  .reviews__item-text {
    padding-right: 100px;
  }
  .reviews-footer {
    padding-bottom: 50px;
  }
  .reviews__arrows {
    margin-top: -140px;
  }
}

@media (min-width: 1150px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1150px) and (min-resolution: 144dpi), (min-width: 1150px) and (min-resolution: 1.5dppx) {
  .reviews {
    background: url("../img/review@2x.jpg") no-repeat;
    background-size: 350px auto;
  }
}
