/* Block — Reviews */

.reviews {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.reviews__wrapper {
  width: 100%;
  padding: 120px 30px;
}


@media screen and (min-width: $tablet-width) {
  .reviews__wrapper {
    width: 668px;
    padding: 120px 50px;
  }
}

@media screen and (min-width: $desktop-width) {
  .reviews__wrapper {
    width: 1050px;
    padding: 120px 50px;
    justify-content: space-between;
  }
}
